.divCard {
  position: relative;
  display: inline-block;
  height: 340px;
  width: 210px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 20px 10px #7b7b83;
}

.cardImg {
  width: 200px;
  margin-top: 30px;
}

.nameCard {
  position: absolute;
  bottom: 105px;
  left: 10px;
  font-size: 17px;
  background-color: #0000009c;
  color: white;
  padding: 2px 5px;
}

.cardSpecies {
  bottom: 0px;
  left: 10px;
  font-size: 19px;
  font-weight: 400;
  color: #f94e01;
}

.cardGender {
  bottom: 0px;
  right: 10px;
  font-size: 19px;
  font-weight: 400;
  color: #f94e01;
}

.cardButton {
  position: absolute;
  right: 8px;
  top: 2px;
  background-color: red;
  color: white;
  border: #ff7b54 1px solid;
  border-radius: 5px;
}

.Link {
  text-decoration: none;
}

.favButton {
  position: absolute;
  left: 8px;
  top: 2px;
  border: #ff7b54 1px solid;
  border-radius: 5px;
}
