.h1 {
    text-shadow: 4px 3px 12px white;
    color: #2a0348;
}

.h2 {
    text-shadow: 4px 3px 5px black;
    color: #07bd58;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.data {
    border-radius: 20px;
    background-color: #ffffff61;
    margin: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    
}

.charImg {
    border-radius: 20px;
    margin: 10px;
    height: 400px;
}

/* .bthButton{

} */

